/*************************
* Load Google fonts
**************************/
@import url('https://fonts.googleapis.com/css?family=PT+Sans|PT+Sans+Narrow:400,700&subset=cyrillic');


/*************************
* Font family definitions
**************************/
$font-normal: arial, sans-serif;
$font-condensed: 'PT Sans Narrow', sans-serif;


/*************************
* Font sizes
**************************/
$font-size-content: 16px;
$font-size-table-header: 15px;
$font-size-table-content: 15px;
$font-size-footer: 16px;